.header {
  margin-top: 3px;
  display: block;
  text-decoration: none;

  &,
  &:visited,
  &:active,
  &:focus {
    color: #000;
  }

  &.active {
    font-weight: bold;
  }
}

.description {
  padding-top: 5px;
  padding-bottom: 15px;
  font-style: italic;
}
