.header {
  display: block;
  text-decoration: none;

  &,
  &:visited,
  &:active,
  &:focus {
    color: #000;
  }

  &.active {
    font-weight: bold;
  }
}

.description {
  padding-bottom: 15px;
}
